$nav-color: #7f7f7f;
$back-color: #e8e8e8;
$font-color: #000000;

body {
  background-color: $back-color;
  margin: 0;
  padding: 0;
}

.container-parent {
  background-color: $back-color;

  ul {
    list-style-type: none;

    li {
      margin-bottom: 1%;
    }
  }

  .nav-title {
    background-color: $nav-color;
    text-align: center;
    font-size: 40px;
  }

  .container-field {
    margin-top: 1%;

    .text-field {
      margin-left: 1%;
      width: 500px;
      height: 40px;
      padding: 5px;
      font-size: 20px;
    }

    .add-button {
      margin-left: 1%;
      margin-top: 0;
      height: 40px;
    }

    .delete-button {
      margin-left: 1%;
      height: 30px;
      height: 20px;
    }
  }
}
